data/*.csv
data/*.zip
data/*.npy

data/test_chunks/*
!data/test_chunks/.dir.txt
data/test_feats/*
!data/test_feats/.dir.txt
data/test_group_lcs/*
!data/test_group_lcs/.dir.txt
data/training_chunks/*
!data/training_chunks/.dir.txt
data/training_feats/*
!data/training_feats/.dir.txt
data/training_group_lcs/*
!data/training_group_lcs/.dir.txt
data/training_cesium_curves/*
!data/training_cesium_curves/.dir.txt
data/test_cesium_curves/*
!data/test_cesium_curves/.dir.txt

subs/*
!subs/.dir.txt
subs_freq_probe/*
!subs_freq_probe/.dir.txt
subs_rs_probe/*
!subs_rs_probe/.dir.txt

models/*
!models/.dir.txt

level_1_preds/*
level_2_preds/*
confusion/*
imps/*

utils/__py*
.ipynb*
.DS_Store
.idea/*
__py*
